.my-message{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    width:fit-content;
    height:fit-content;
    display: block;
    max-width: 500px;
    color:white;
    background-color: #3dba90;
    border-radius: 5px;
    font-size: 30px;
    margin: 5px;
    float:right;
    box-sizing: border-box;
    white-space: wrap;
    overflow:initial;
    word-wrap: break-word;
    transition: all 0.25s;
}

.message-set{
    display:flex;
    float:right
}
.delete{
    /* height:50%; */
    border:none;
    background: none;
    display: none;
}

.remove-btn{
    width:15px;
}

.message-set:hover > div{
    background-color: #319775;
}

.message-set:hover > button{
    display: inline;
}