nav{
    margin-left:0px;
    margin-right:0px;
    display:flex;
    flex-direction:row;
    height:100px;
    background-color: rgb(61, 186, 144);
}

nav > button{
    text-decoration:none;
    background:none;
    border:none;
    margin-bottom: 30px;
    cursor: pointer;
}

.me{
    margin-top: 30px;
    font-weight: bold;
    color:white;
    font-size: 30px;
}

.myIcon{
    margin:15px;
    filter: invert(30%) sepia(10%) saturate(1352%)
     hue-rotate(120deg) brightness(180%) 
     contrast(100%);
}
/* header{
    display:flex;
    flex-direction: column;
} */